@import "tailwindcss";

@theme {
    --color-svgLeftHandle: #E15649;
    --color-svgLeftToolTip: #C3C7CB;
    --color-svgLeftToolBar: #E0E0E0;
    --color-svgLeftHandleTrim: #BC342E;
    --color-svgLeftToolCasing: #E15649;
    --color-svgRightHandle: #7F7C79;
    --color-svgRightToolBar: #855151;
    --breakpoint-2md: 56.25rem;
}

h1 {
    font-size: clamp(1.4rem, 3vw, 3.75rem);
}

.explore-text {
    font-size: clamp(.8rem, 3vw, 1rem);
}

.explore-arrow-container {
    width: clamp(1.8rem, 3vw, 2.5rem);
    height: clamp(1.8rem, 3vw, 2.5rem);
    padding: clamp(.2rem, 3vw, .5rem);
}

form {
    width: clamp(1rem, 50vw, 87.5rem);
}

.input-container {
    width: clamp(15rem, 24vw, 42.5rem);
}